{% extends "basefront.html.twig" %}
{% block body %}
    <!-- Début du tableau des playlists -->
    <table class="table table-striped">
        <thead>
            <tr>
                <!-- Colonne Playlist avec options de tri et de filtre -->
                <th class="text-left align-top" scope="col">
                    Playlist<br />
                    <a href="{{ path('playlists.sort', {champ:'name', ordre:'ASC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true"><</a>
                    <a href="{{ path('playlists.sort', {champ:'name', ordre:'DESC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">></a>
                    <form class="form-inline mt-1" method="POST" action="{{ path('playlists.findallcontain', {champ:'name'}) }}">
                        <div class="form-group mr-1 mb-2">
                            <input type="text" class="sm" name="recherche" 
                                   value="{% if valeur|default and not table|default %}{{ valeur }}{% endif %}">
                            <input type="hidden" name="_token" value="{{ csrf_token('filtre_name') }}">
                            <button type="submit" class="btn btn-info mb-2 btn-sm">filtrer</button>
                        </div>
                    </form>                    
                </th>
                <!-- Colonne pour les informations du nombre de Formations avec options de tri -->
                <th class="text-left align-top" scope="col">
                    Nombre de Formations<br />
                    <a href="{{ path('playlists.sort', {champ:'formations', ordre:'ASC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true"><</a>
                    <a href="{{ path('playlists.sort', {champ:'formations', ordre:'DESC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">></a>
                </th>
                <!-- Colonne pour les informations des Catégories avec formulaire de filtre par catégorie -->
                <th class="text-left align-top" scope="col">
                    Catégories
                    <form class="form-inline mt-1" method="POST" action="{{ path('playlists.findallcontain', {champ:'id', table:'categories'}) }}">
                        <select class="form-select form-select-sm" name="recherche" id="recherche" onchange="this.form.submit()">
                            <option value=""></option>
                            {% for categorie in categories %}
                                <option 
                                    {% if valeur|default and valeur==categorie.id %} 
                                        selected
                                    {% endif %} 
                                    value="{{ categorie.id }}">{{ categorie.name }}
                                </option>
                            {% endfor %}
                        </select>                    
                    </form>            
                </th>
                <!-- Colonne pour les actions avec le bouton ajouter-->
                <th class="text-center align-top" scope="col">
                    &nbsp;
                </th>
                <th class="text-center align-top" scope="col">Actions
                    <div class="mt-2">
                        <a href="{{ path('playlists.form') }}" class="btn btn-success btn-sm">Ajouter</a>
                    </div>
                </th>
            </tr>
        </thead>
        <!-- Affichage des messages flash (succès ou erreur) -->
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label == 'error' ? 'danger' : 'success' }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endfor %}
        <tbody>
            <!-- Si des playlists existent, boucle pour les afficher -->
            {% if playlists|length > 0 %}
                {% for playlist in playlists %}
                    <tr class="align-middle">
                        <!-- Colonne pour le nom de la playlist -->
                        <td>
                            <h5 class="text-info">
                                {{ playlist.name }}
                            </h5>
                        </td>
                        <!-- Colonne pour le nombre de formations de la playlist -->
                        <td>
                            {{ playlist.nbFormations }}
                        </td>
                        <!-- Colonne pour les catégories associées à la playlist -->
                        <td class="text-left">
                            {% for category in playlist.categoriesplaylist %}
                                &nbsp;{{ category }}
                            {% endfor %}
                        </td>
                        <!-- Colonne pour le bouton de détails de la playlist -->
                        <td class="text-center">
                            <a href="{{ path('playlists.showone', {id: playlist.id}) }}" class="btn btn-secondary">Voir détail</a>
                        </td>
                        <!-- Colonne pour les actions Modifier et Supprimer -->
                        <td class="text-center">
                            <div class="d-inline-flex">
                                <!-- Bouton pour modifier la playlist -->
                                <a href="{{ path('playlists.form', {id: playlist.id}) }}" class="btn btn-warning btn-sm me-2">Modifier</a>
                                <!-- Bouton pour supprimer la playlist -->
                                <form method="POST" action="{{ path('playlists.delete', {id: playlist.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette formation ?');">
                                    <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}

